<div class="flex items-baseline justify-between p-4 transition-all border shadow hover:shadow-md rounded-xl">
  <h2><span class="font-bold"><%= post.user.first_name %></span> has <%= post.title %></h2>
  <p class="pl-2 text-sm"><%= link_to 'Details', "#" %></p>
</div>
