<div class="text-right d-flex">
  <span>Filter by:</span>
  <%= filter_button_link_to "Date", root_path %>
  <%= filter_button_link_to "Tag", tags_path %>
  <%= filter_button_link_to "User", users_path %>
</div>
