<div class="sticky flex justify-end w-full top-20">
  <div class="flex gap-2 p-4 shadow bg-background rounded-xl max-w-max">
    <span>Filter by:</span>
    <div class="flex justify-end gap-1">
      <div>
        <%= filter_button_link_to "Date", root_path %>
      </div>
      <div>
        <%= filter_button_link_to "Tag", tags_path %>
      </div>
      <div>
        <%= filter_button_link_to "User", users_path %>
      </div>
    </div>
  </div>
</div>
